
<% if flash[:danger]%>
<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Failed!</h4>
  <p><%=flash[:danger]%></p>
  <hr>
  <p class="mb-0">Try again.</p>
</div>
<%end%>


<%= form_tag url_for(action: 'create'), method: "post" do %>

      <%= label_tag 'Title' %>
      <%= text_field_tag 'title'%>
      <br /> <br />

      <%= label_tag 'Content'%>
      <%= text_area_tag 'content'%>
      <br /> <br />

      <%= submit_tag "Create Gossip"%>

    <% end %>
